.formrectangle2 {
    height: 25%; /* Reduced height */
    width: 50vw; /* Reduced width */
    margin: auto;
    margin-top: 0.5%;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
}

.signuprectangle {
    flex-direction: column;
    align-items: center;
    width: 100%; /* Changed background to white */
    border-radius: 15px;
    color: #0073A8; /* Text color adjusted for contrast */
}

.div-but- {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Reduced margin */
}

h2 {
    font-size: 2em; /* Reduced font size */
    text-align: center;
    color: #0073A8;
    margin-bottom: 5px; /* Reduced margin */
}

h8 {
    font-size: 0.8em; /* Reduced font size */
    color: grey;
    margin-top: 2px; /* Reduced margin */
}

.social-buttons- {
    display: flex;
    gap: 10px; /* Reduced gap */
    margin-bottom: 10px;
}

.btn-sig- {
    background-color: grey;
    border: none;
    color: white;
    width: 40px; /* Reduced width */
    height: 40px; /* Reduced height */
 
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Reduced font size */
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.btn-sig- :hover {
    background-color: white;
    color: grey;
    border: 2px solid grey;
}

.btn-sig- :active {
    transform: scale(0.9);
}

.selectord {
    width: 100%;
    height: 40px; /* Reduced height */
    margin-left: 1px ; /* Reduced margin */
    * Reduced padding */
    border-radius: 8px;
    border: 1px solid #0073A8;
    font-size: 14px; /* Reduced font size */
    background-color: lightgrey;
}

.input-fielde {
    width: 100%;
    padding: 8px; /* Reduced padding */
    margin: 6px 0; /* Reduced margin */
    border: 1px solid #0073A8;
    border-radius: 8px;
    font-size: 14px; /* Reduced font size */
    outline: none;
    background-color: lightgrey;
}

.input-fielde:focus {
    border-color: #005a86;
    box-shadow: 0px 0px 8px rgba(0, 115, 168, 0.5);
}

.btn-sign-up {
    width: 85%;
    padding: 10px; /* Reduced padding */
    background-color: #0073A8;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px; /* Reduced font size */
    cursor: pointer;
    transition: 0.3s;
    margin-top: 12px; /* Reduced margin */
}

.btn-sign-up:hover {
    background-color: #005a86;
}

.btn-sign-up:active {
    transform: scale(0.95);
}
