.card-form-wrapper {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 1050px;
    margin: auto;
    position:absolute;
    top:220px;
    left:220px;
  }
  
.accountinfo-submit-btn {
  background-color: #0073A8;
  color: white;
  border: none;
  padding: 14px 32px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.accountinfo-submit-btn:hover {
  background-color: #005f8d;
}
  .form-fields-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .input-field-box {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
  }
  
  .input-field-box.full-width {
    flex: 1 1 100%;
  }
  
  .input-label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .input-control {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  