select {
    width: 50%;
    margin: 12px 0;
    margin-left: 15px;
    border: none; /* remove border completely */
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    height: 60px;
    background-color: #eeeeee; /* lighter than lightgrey */
   margin-right:2px
}
  
  select:focus {
    outline: none;
    box-shadow: none; /* remove blue glow */
  }
  
  .select-field option {
    font-size: 16px;
    padding: 10px;
  }
  .date-picker {
    width: 40%;
    margin: 12px 0;
    margin-left: 5px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    height: 60px;
    background-color: #eeeeee;
    padding: 0 10px;
    color: #333;
  }
  
  .date-picker:focus {
    outline: none;
    box-shadow: none;
  }
  .filter-button {
    display: inline-flex;
    width:40%;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    height: 60px;
    background-color: #4ba9d8; /* lighter blue */
    color: white; /* white text */
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left:200px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .filter-button:hover {
    background-color: #3799cc; /* slightly darker on hover */
    transform: translateY(-1px);
  }
  
  .filter-icon {
    width: 18px;
    height: 18px;
    stroke: white;
  }
  form {
 
    left: 30%;
    top:25%;
    margin-top: 20px;
  
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .names {
    width: 50%;
    margin: 12px 0;
    margin-left: 20px;
    height: 60px;
    border: none; /* no border */
    border-radius: 8px;
    background-color: #eeeeee; /* light grey background */
    font-size: 16px;
    padding: 0 10px;
    color: #333;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  
  .names:focus {
    outline: none;
    box-shadow: none;
  }
  .carder {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Simple box shadow */
    max-width: 1200px;
    margin-top: 150px ;
    margin-left:120px; /* Center the card */
  }
  