.logo {
    display: flex;
    align-items: center; /* vertically center image and text */
    height: 75px;
    margin-top:0 px; /* Adjust overall logo height */
  }
  
  .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logoimg {
    height: 40px; /* Increase image height */
    width: 70px;  /* Increase image width */
  }
  
  .logotx {
    color: #0073A8;
    font-size: 20px; /* Increase font size of text */
    font-weight: bold;
    margin-left: 10px; /* Space between image and text */
  }

  