.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #ddd;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 30px;
    height: 30px;
    background: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-weight: bold;
  }
  